{% extends "common/layout.html" %}
{% block head %}
    <title>Khang Tran</title>
    <meta name="keywords" content="Developer,Tokyo,HTML,CSS,JavaScript,PHP,.Net">
    <meta name="description" content="Tran Chi Khang profile">
    <link href="{{ url_for('static', filename='css/profile/profile.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="row">
        <div class="col-lg-1 col-xl-1"></div>
        <div class="col-12 col-md-12 col-lg-8 col-xl-6">
            <div id="profile" class="panel pl-1 pr-1">
                <section>
                    <div class="row">
                        <div class="col-5 col-xs-12 col-md-5 col-xl-4 pr-1 img-wrapper">
                            <div class="main-avatar img-fluid">
                            </div>
                        </div>
                        <div class="col-7 col-xs-12 col-md-7 col-xl-8">
                            <h2>About Me</h2>
                            <p>I am Khang, a software developer currently living in Tokyo. I worked in Ho Chi Minh city for more than 2 years before coming to Japan</p><br>
                            <p>I have experience in Full stack web application development, mostly in PHP framework as back-end; in front-end, I specialized in JavaScript and JQuery with intermediate CSS. I have also worked with .Net related technology like C#, VB.Net, Winform, WPF, Universal Windows Platform.</p>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="section">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 md-offset-1">
                            <h3 class="section-header">personal information</h3>
                            <div class="basic-info">
                                <p>Full Name</p>
                                <p>Tran Chi Khang</p>
                                <p>E-mail</p>
                                <p>
                                    <a href="mailto:tranchikhang@outlook.com">tranchikhang@outlook.com</a>
                                </p>
                                <p>Github</p>
                                <p>
                                    <a href="https://github.com/tranchikhang">https://github.com/tranchikhang</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 md-offset-1 language">
                            <h3 class="section-header">language</h3>
                            <div class="basic-info">
                                <p>Vietnamese (native)</p>
                                <p>English (upper-intermediate)</p>
                                <p>Japanese (intermediate)</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="work" class="panel pl-1 pr-1">
                <section class="section">
                    <div class="row">
                        <h3 class="section-header">Work Experience</h3>
                        <div class="col-sm-12">
                            <div class="timeline">
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">Nov <b>2018</b> - Now</h3>
                                        <h3 class="d-xs-only">Nov <b>2018</b><br>- Now</h3>
                                        <p><b>Green Space Solution Japan</b></p>
                                    </div>
                                    <div class="body">
                                        <p>Full Stack web development: 松竹、T-Pas, カモ旅 etc</p>
                                        <ul>
                                            <li>PHP (Slim, Laravel...)</li>
                                            <li>HTML, CSS, Javascript</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">Sept <b>2018</b> - Oct <b>2018</b></h3>
                                        <h3 class="d-xs-only">Sept <b>2018</b><br>- Oct <b>2018</b></h3>
                                        <p><b>NEC Vietnam</b></p>
                                    </div>
                                    <div class="body">
                                        <p>Desktop Scheduler for Japanese Banking system in Singapore
                                        </p>
                                        <ul>
                                            <li>Analyze customer requirement</li>
                                            <li>Design new feature</li>
                                            <li>XML configuration for application</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">May <b>2018</b> - Aug <b>2018</b></h3>
                                        <h3 class="d-xs-only">May <b>2018</b> -<br>Aug <b>2018</b></h3>
                                        <p><b>NEC APAC Singapore</b></p>
                                    </div>
                                    <div class="body">
                                        <p>(Dispatch)</p>
                                        <p>Desktop Scheduler for Japanese Banking system in Singapore</p>
                                        <p>I conducted the testing at customer site, since there is no testing environment in Vietnam. As a Bridge System Engineer, I was also in charge of bug investigation, proposing solution for customer and transferring to my offshore team.</p>
                                        <ul>
                                            <li>Analyze customer requirement</li>
                                            <li>Design feature</li>
                                            <li>Unit test and Integration test</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">Dec <b>2017</b> - Apr <b>2018</b></h3>
                                        <h3 class="d-xs-only">Dec <b>2017</b> -<br>Apr <b>2018</b></h3>
                                        <p><b>NEC Vietnam</b></p>
                                    </div>
                                    <div class="body">
                                        <p>Desktop application for Japanese Banking system in Singapore</p>
                                        <p>Our team mission was analyzing the current system written on VB6 and creating a new one. The system reads messages from Windows MSMQ and interacts with Mainframe computer using Microfocus Rumba API. We were also required to design a new language based on XML, the system will act like a compiler, so the customer can input the XML file to change the flow of Rumba without doing the coding.</p>
                                        <ul>
                                            <li>VB.NET - Winform</li>
                                            <li>Microfocus Rumba</li>
                                            <li>MSMQ</li>
                                            <li>Oracle DB</li>
                                            <li>XML and XML Schema Definition</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">Jun <b>2017</b> - Nov <b>2017</b></h3>
                                        <h3 class="d-xs-only">Jun <b>2017</b> -<br>Nov <b>2017</b></h3>
                                        <p><b>Vitalify Asia</b></p>
                                    </div>
                                    <div class="body">
                                        <p>(Dispatch)</p>
                                        <p>Mobile application API for Japanese customer</p>
                                        <p>Health & Fitness application, with gift-exchange reward system.</p>
                                        <ul>
                                            <li>PHP Laravel Framework</li>
                                            <li>MySQL</li>
                                            <li>Amazon S3, Amazon Rekognition</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">May <b>2016</b> - May <b>2017</b></h3>
                                        <h3 class="d-xs-only">May <b>2016</b> -<br>May <b>2017</b></h3>
                                        <p><b>Green Space Solution JSC</b></p>
                                    </div>
                                    <div class="body">
                                            <p><a href="http://logistech247.com/landing_jp.html">Logistech247</a> - Vehicle tracking system, user can monitor vehicle information like current position, speed, fuel status, driving time... in almost real time.</p>
                                        <p>As a full stack web developer, I worked with Google Maps related features and other management modules (user, vehicle, device, driver...), from design to coding.</p>
                                        <ul>
                                            <li>PHP Phalcon Framework</li>
                                            <li>HTML, CSS, JS</li>
                                            <li>Google Maps API (Drawing Tools, Directions Service, Geocoding...)</li>
                                            <li>MySQL</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="title">
                                        <h3 class="d-sm-up">Sept <b>2012</b> - May <b>2016</b></h3>
                                        <h3 class="d-xs-only">Sept <b>2012</b> -<br>May <b>2016</b></h3>
                                        <p><b>Can Tho University</b></p>
                                    </div>
                                    <div class="body">
                                        <p>Software Engineering</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}