<a href="{{ .Permalink }}" class="catalogue-item">
    <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
    {{ if isset .Params "cover" }}
        <img class="catalogue-cover" src="{{ .RelPermalink }}{{ .Params.cover }}">
        <h1 class="catalogue-title">{{ .Title }}</h1>
    {{ else }}
        <h1 class="catalogue-title">{{ .Title }}</h1>
    {{ end }}
    <p>
        {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
    </p>
</a>
