@charset "UTF-8";

#profile {
    padding-top: 15px;
    background: white;
    padding-bottom: 2rem;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-avatar {
    background-image: url('../../img/ava.jpg');
    width: 195px;
    height: 195px;
    background-size: cover;
    border-radius: 40%;
    background-position: top center;
    max-width: 100%;
}

.section-header {
    color: #6c757d;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}
.basic-info {
    margin-top: 15px;
}

.language p {
    margin-top: 7px;
}

#profile dt {
    margin-bottom: 5px;
}

#profile p {
    margin-bottom: 7px;
}

#profile .about {
    width: 0;
}

#work {
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: white;
}

.timeline {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 40px 0px;
    position: relative;
}

.body:before {
    content: '';
    position: absolute;
    top: 10px;
    left: calc(33% + 15px);
    bottom: 25px;
    width: 4px;
    background: #ddd;
}

.body:after {
    content: "";
    display: table;
    clear: both;
}

.entry {
    overflow: hidden;
    clear: both;
    text-align: left;
    position: relative;
}

.sub-entry {
    left: 10%;
    position: relative;
    overflow: hidden;
    width: 90%;
}

.entry .title {
    box-sizing: border-box;
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 20px;
    text-align: right;
    position: relative;
    font-size: 14px;
}

.entry .title:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid midnightblue;
    background-color: #fff;
    border-radius: 100%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry .title h3 {
    margin: 0;
    font-size: 120%;
}

.entry .title p {
    font-weight: bold;
}

.entry .title p {
    margin: 0;
    font-size: 16px;
}

.entry .body {
    box-sizing: border-box;
    margin-bottom: 30px;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.entry .body p {
    line-height: 1.4em;
    margin-bottom: 0.25rem;
}

.entry .body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.entry .body ul {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #5a5353;
    padding-left: 0;
    list-style-type: none;
}

.entry .body ul li:before {
    content: "–";
    margin-right: .5em;
}


@media (max-width:767px) {
    .common-container {
        padding: unset;
    }
    .section {
        margin-left: 8.33%;
        margin-right: 8.33%;
    }

    .d-sm-up {
        display: none;
    }
}

@media (min-width:768px) {
    .main-avatar {
        margin-bottom: 10px;
    }

    .d-xs-only {
        display: none;
    }

}
