p > code {
    font-size: 1.2em;
    border: 1px solid #e9e9e9;
    padding: 2px 5px;
}

.post-title a {
    color: inherit;
}

.post-title h1 {
    font-size: 2.5rem;
}

.post-body {
    margin-bottom: 2em;
}

.post-content {
    max-width: 50rem;
    margin-top: 1em;
    margin-bottom: 2em;
}

.paging {
    text-align: right;
}

.paging .current_page, .paging .other_page {
    display: inline-block;
    width: 20px;
    text-align: center;
}

@media (max-width:767px) {
    .paging {
        text-align: center;
    }

    .paging .current_page, .paging .other_page {
        display: inline-block;
        width: 30px;
        text-align: center;
    }

}
