{% extends "common/layout.html" %}
{% block head %}
    <meta name="keywords" content="Developer,Tokyo,HTML,CSS,JavaScript,PHP,.Net, Python, Angular">
    <meta name="description" content="Khang profile">
{% endblock %}

{% block content %}
<div class="common-container">
    <div class="title">
        <h1>About</h1>
    </div>
    <div class="content">
        <p>My name is Khang, I am a software developer working in Tokyo.</p>
        <br>
        <p>I’m a full stack web developer, mostly with PHP at backend, Angular at frontend. Sometimes I also work with .Net related stuff.</p>
        <br>
        <p>This website is built using Flask, I plan to use it to put anything that I find interesting here, and also for playing around with python.</p>
    </div>
</div>
{% endblock %}