{% extends "common/layout.html" %}
{% block head %}
    <title>CKhang</title>
    <meta name="keywords" content="Developer,Tokyo,HTML,CSS,JavaScript,PHP,.Net, Python, Angular">
    <meta name="description" content="Khang profile">
{% endblock %}

{% block content %}
<div class="common-container">
    <div class="title">
        <h1>About</h1>
    </div>
    <div class="content">
        <p>My name is Khang, I am a software developer working in Tokyo.</p>
        <br>
        <p>I’m mostly a Full stack PHP web developer, sometimes .Net. I'm also learning Angular and Python for future projects.</p>
        <br>
        <p>This website is built using Flask, I plan to use it to put anything that I find interesting here, and also for playing around with python.</p>
        <br>
        <p>There is nothing here for now, you can checkout my <a href="https://github.com/tranchikhang/">Github</a> for some unfinished side projects I've been working with in my free time.</p>
    </div>
</div>
{% endblock %}