{% extends "common/layout.html" %}
{% block head %}
    <meta name="keywords" content="Developer,Tokyo">
    <meta name="description" content="Khang profile">
{% endblock %}

{% block content %}
<div class="common-container">
    <div class="title">
        <h1>About</h1>
    </div>
    <div class="content">
        <p>My name is Khang, I am a developer working in Tokyo, mostly with PHP at backend, Angular at frontend. Sometimes I also work with .Net related stuff.</p>
        <br>
        <p>I created this site to put anything that I find interesting here, and also for playing around with python.</p>
    </div>
</div>
{% endblock %}