{% extends "common/layout.html" %}
{% block head %}
<meta name="description" content="CKhang">
<link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="common-container">
    <div class="content">
        <div class="posts">
            {% for post in posts %}
            <article class="post-body">
                <h1 class="post-title">
                    <a href="{{ post.link }}">
                        {{ post.title }}
                    </a>
                </h1>
                <div class="post-meta">
                    <span class="post-date">{{ post.date }}</span>
                </div>
                <p>{{ post.preview }}</p>
                <a href="{{ post.link }}">More …</a>
            </article>
            {% endfor %}
        </div>
        <div class="paging">{{ pager|safe }}</div>
    </div>
</div>
{% endblock %}