{% extends "common/layout.html" %}
{% block head %}
    <meta name="keywords" content="Developer,Tokyo,HTML,CSS,JavaScript,PHP,.Net">
    <meta name="description" content="CKhang profile">
{% endblock %}

{% block content %}
<div class="common-container">
    <div class="title">
        <h1>Contact</h1>
    </div>
    <div class="content">
        <p>Github</p>
        <p>
            <a href="https://github.com/tranchikhang">https://github.com/tranchikhang</a>
        </p>
        <p>Linkedin</p>
        <p>
            <a href="https://linkedin.com/in/khang-tran-2110">https://linkedin.com/in/khang-tran-2110</a>
        </p>
    </div>
</div>
{% endblock %}