{% extends "common/layout.html" %}
{% block content %}
<div class="common-container">
    <div class="title">
        <h1>MedievalWar <a target="_blank" href="https://github.com/tranchikhang/MedievalWar"><i class="la la-github"></i></a></h1>
    </div>
    <div class="content">
        <img src="{{ url_for('static', filename='img/mediavalwar_1.gif') }}"/>
        <p>Medieval War is a turn-based strategy game I worked in my free time, inspired by the Fire Emblem series. This game is built in JavaScript using the Phaser 3 Framework.<br>
        The development came to a halt because the next step after adding the enemies is creating the AI. The plan is to create a simple AI system using conditional statements, but I've been lazy so...</p>
    </div>
    <div class="title">
        <h1>A-Reddit <a target="_blank" href="https://github.com/tranchikhang/a-reddit"><i class="la la-github"></i></a></h1>
    </div>
    <div class="content">
        <img src="{{ url_for('static', filename='img/a-reddit.png') }}"/>
        <p>A reddit client with Angular 8.2.14. I created this site to practice using Angular and other HTML/CSS skills.</p>
    </div>
</div>
{% endblock %}