{% extends "common/layout.html" %}
{% block content %}
<div class="common-container">
    <div class="title">
        <h1>MedievalWar <a target="_blank" href="https://github.com/tranchikhang/MedievalWar"><i class="la la-github"></i></a></h1>
    </div>
    <div class="content">
        <img src="{{ url_for('static', filename='img/mediavalwar_1.png') }}"/>
        <p>Medieval War is a turn-based strategy game I worked in my free time, inspired by the Fire Emblem series. This game is built in JavaScript using the Phaser 3 Framework.<br>
        The development came to a halt because the next step after adding the enemies is creating the AI. The plan is to create a simple AI system using conditional statements, but I've been lazy so...</p>
    </div>
    <div class="title">
        <h1>Fire Emblem DB <a target="_blank" href="https://github.com/tranchikhang/Fire-Emblem-DB"><i class="la la-github"></i></a></h1>
    </div>
    <div class="content">
        <img src="{{ url_for('static', filename='img/Fe_db_1.png') }}"/>
        <p>A website with information about Fire Emblem games on Gameboy Advance, using Angular 8.2. I created this site to practice using Angular and other HTML/CSS skills.</p>
    </div>
</div>
{% endblock %}